.colorPickContainer {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  margin-right: 5px;
}
.selectedColor {
  padding: 15px 5px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
}
.colorPickerPopup {
  position: absolute;
  top: 55px;
  left: -20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100px;
  height: auto;
  box-shadow: 1px 1px 1px #888;
  z-index: 99;
}
.colorBox {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
}
